#site-topbar0 {
    display: flex;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #fff
}
li {
    list-style: none
}

.container0 {
    height: 100%;
    width: 1142px;
    margin: auto
}

.container0 a:hover {
    text-decoration: none;
    color: red
}
.container0 div:nth-child(2) {
    flex: 1;
}
.logo {
    float: left;
    background: url(../img/logo.png) no-repeat;
    width: 100px;
    height: 60px;
    margin-top: 5px;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    text-indent: -9999px;
}
.logo_tit {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
.nofollow {
    margin: 0 5px;
}
.topbar-info0 {
    float: right;
    width: 200px;
    height: 70px
}

.topbar-info0 li {
    float: right
}

.topbar-info0 a {
    color: #000
}