#site-topbar0 {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #fff
}

li {
    list-style: none
}

.container0 {
    height: 100%;
    width: 1142px;
    margin: auto
}

.container0 a:hover {
    text-decoration: none;
    color: red
}

.topbar-nav0 {
    float: left;
    width: 500px;
    height: 70px
}

.topbar-nav0 li {
    float: left;
    height: 100%;
    padding-right: 1px
}

.topbar-nav0 a {
    padding: 0 25px;
    color: #000
}

.topbar-info0 {
    float: right;
    width: 200px;
    height: 70px
}

.topbar-info0 li {
    float: right
}

.topbar-info0 a {
    color: #000
}

iframe {
    position: fixed;
    left: 0;
    bottom: 0
}
.nofollow {
    margin: 0 5px;
}
.logo {
    float: left;
    background: url(../logo.png) no-repeat;
    width: 100px;
    height: 60px;
    margin-top: 5px;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -9999px;
}
.logo_tit {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}